html{
    font-size: 60%;
}

html, body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(250,250,250);
}

body{
    font-size: 1.6rem;
}

a{
    background-color: rgb(7, 6, 6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div{
    
    background-color: rgb(7, 6, 6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
    margin: auto;
}





/* .btn-group button{
    background-color: rgb(241, 9, 9);
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    float : left;
} */

div1{
    background-color: rgb(241, 9, 9);
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    float : left;
}

.btn-group button {
    background-color: #e40d0d; /* Green background */
    border: 1px solid rgb(15, 15, 15); /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }
